/*   
Project:      Bass - A smart, lightweight responsive grid, built with Sass
Project URI:  http://timpotter.github.io/bass-grid
Version:      1.2.1
Updated:      17th June 2015
Author:       Tim Potter
Author URI:   http://littlethunder.co
*/
*,
*:before,
*:after {
  box-sizing: border-box; }

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve, .full, .left-column, .right-column {
  float: left;
  margin: 10px 1%;
  padding: 10px; }

/* Container - delete this if you don't need one
------------------------------------------------------------------------------------------------------------------------------------------ */
.container {
  width: 960px;
  margin: 0 auto;
  clear: both; }
  @media screen and (max-width: 960px) {
    .container {
      width: 100%; } }

/* Makes images responsive
------------------------------------------------------------------------------------------------------------------------------------------ */
img {
  max-width: 100%; }

/* Choose a column size
------------------------------------------------------------------------------------------------------------------------------------------ */
.one {
  width: 6.33333%; }
  @media screen and (max-width: 640px) {
    .one {
      width: 98%; } }

.two {
  width: 14.66667%; }
  @media screen and (max-width: 640px) {
    .two {
      width: 98%; } }

.three {
  width: 23%; }
  @media screen and (max-width: 640px) {
    .three {
      width: 98%; } }

.four {
  width: 31.33333%; }
  @media screen and (max-width: 640px) {
    .four {
      width: 98%; } }

.five {
  width: 39.66667%; }
  @media screen and (max-width: 640px) {
    .five {
      width: 98%; } }

.six {
  width: 48%; }
  @media screen and (max-width: 640px) {
    .six {
      width: 98%; } }

.seven {
  width: 56.33333%; }
  @media screen and (max-width: 640px) {
    .seven {
      width: 98%; } }

.eight {
  width: 64.66667%; }
  @media screen and (max-width: 640px) {
    .eight {
      width: 98%; } }

.nine {
  width: 73%; }
  @media screen and (max-width: 640px) {
    .nine {
      width: 98%; } }

.ten {
  width: 81.33333%; }
  @media screen and (max-width: 640px) {
    .ten {
      width: 98%; } }

.eleven {
  width: 89.66667%; }
  @media screen and (max-width: 640px) {
    .eleven {
      width: 98%; } }

.twelve, .full {
  width: 98%; }
  @media screen and (max-width: 640px) {
    .twelve, .full {
      width: 98%; } }

/* Offsets for positioning columns
------------------------------------------------------------------------------------------------------------------------------------------ */
.offset-by-one {
  margin-left: 9.33333%; }
  @media screen and (max-width: 640px) {
    .offset-by-one {
      margin-left: 1%; } }

.offset-by-two {
  margin-left: 17.66667%; }
  @media screen and (max-width: 640px) {
    .offset-by-two {
      margin-left: 1%; } }

.offset-by-three {
  margin-left: 26%; }
  @media screen and (max-width: 640px) {
    .offset-by-three {
      margin-left: 1%; } }

.offset-by-four {
  margin-left: 34.33333%; }
  @media screen and (max-width: 640px) {
    .offset-by-four {
      margin-left: 1%; } }

.offset-by-five {
  margin-left: 42.66667%; }
  @media screen and (max-width: 640px) {
    .offset-by-five {
      margin-left: 1%; } }

.offset-by-six {
  margin-left: 51%; }
  @media screen and (max-width: 640px) {
    .offset-by-six {
      margin-left: 1%; } }

.offset-by-seven {
  margin-left: 59.33333%; }
  @media screen and (max-width: 640px) {
    .offset-by-seven {
      margin-left: 1%; } }

.offset-by-eight {
  margin-left: 67.66667%; }
  @media screen and (max-width: 640px) {
    .offset-by-eight {
      margin-left: 1%; } }

.offset-by-nine {
  margin-left: 76%; }
  @media screen and (max-width: 640px) {
    .offset-by-nine {
      margin-left: 1%; } }

.offset-by-ten {
  margin-left: 84.33333%; }
  @media screen and (max-width: 640px) {
    .offset-by-ten {
      margin-left: 1%; } }

.offset-by-eleven {
  margin-left: 92.66667%; }
  @media screen and (max-width: 640px) {
    .offset-by-eleven {
      margin-left: 1%; } }

/* Or make your own - Delete the default columns to save bloating your CSS if you chose to make your own
------------------------------------------------------------------------------------------------------------------------------------------ */
.left-column {
  width: 31.33333%;
  background: #3498db; }
  @media screen and (max-width: 640px) {
    .left-column {
      width: 98%; } }

.right-column {
  width: 64.66667%;
  background: #3498db; }
  @media screen and (max-width: 640px) {
    .right-column {
      width: 98%; } }
