/* HTML5 Reset
------------------------------------------------------------------------------------------------------------------------------------------ */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Turns off the ugly iOS input shadows */
input,
textarea {
  -webkit-appearance: none; }

/* Turns off Chrome Default Focus Outline */
* {
  outline: none; }

/*
Project:      Bass - A smart, lightweight Flexbox grid, built with Sass
Project URI:  http://timpotter.github.io/bass-grid
Version:      1.3
Updated:      16th March 2016
Author:       Tim Potter
Author URI:   http://littlethunder.co
*/
*,
*:before,
*:after {
  box-sizing: border-box; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .side-nav, .content {
  float: left;
  margin: 1%;
  padding: 20px 10px; }

/* Flex Container - Enables a flex context for all its direct children
------------------------------------------------------------------------------------------------------------------------------------------ */
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 1200px;
  margin: 0 auto;
  clear: both; }
  @media screen and (max-width: 1200px) {
    .container {
      width: 100%; } }

/* Makes images responsive
------------------------------------------------------------------------------------------------------------------------------------------ */
img {
  max-width: 100%; }

/* Columns
------------------------------------------------------------------------------------------------------------------------------------------ */
.col-1 {
  width: calc(8.3333333333% - 2%); }
  @media screen and (max-width: 640px) {
    .col-1 {
      width: calc(100% - 2%); } }

.col-2 {
  width: calc(16.6666666667% - 2%); }
  @media screen and (max-width: 640px) {
    .col-2 {
      width: calc(100% - 2%); } }

.col-3 {
  width: calc(25% - 2%); }
  @media screen and (max-width: 640px) {
    .col-3 {
      width: calc(100% - 2%); } }

.col-4 {
  width: calc(33.3333333333% - 2%); }
  @media screen and (max-width: 640px) {
    .col-4 {
      width: calc(100% - 2%); } }

.col-5 {
  width: calc(41.6666666667% - 2%); }
  @media screen and (max-width: 640px) {
    .col-5 {
      width: calc(100% - 2%); } }

.col-6 {
  width: calc(50% - 2%); }
  @media screen and (max-width: 640px) {
    .col-6 {
      width: calc(100% - 2%); } }

.col-7 {
  width: calc(58.3333333333% - 2%); }
  @media screen and (max-width: 640px) {
    .col-7 {
      width: calc(100% - 2%); } }

.col-8 {
  width: calc(66.6666666667% - 2%); }
  @media screen and (max-width: 640px) {
    .col-8 {
      width: calc(100% - 2%); } }

.col-9 {
  width: calc(75% - 2%); }
  @media screen and (max-width: 640px) {
    .col-9 {
      width: calc(100% - 2%); } }

.col-10 {
  width: calc(83.3333333333% - 2%); }
  @media screen and (max-width: 640px) {
    .col-10 {
      width: calc(100% - 2%); } }

.col-11 {
  width: calc(91.6666666667% - 2%); }
  @media screen and (max-width: 640px) {
    .col-11 {
      width: calc(100% - 2%); } }

.col-12 {
  width: calc(100% - 2%); }
  @media screen and (max-width: 640px) {
    .col-12 {
      width: calc(100% - 2%); } }

/* Offsets for positioning columns
------------------------------------------------------------------------------------------------------------------------------------------ */
.offset-by-1 {
  margin-left: 9.3333333333%; }
  @media screen and (max-width: 640px) {
    .offset-by-1 {
      margin-left: 1%; } }

.offset-by-2 {
  margin-left: 17.6666666667%; }
  @media screen and (max-width: 640px) {
    .offset-by-2 {
      margin-left: 1%; } }

.offset-by-3 {
  margin-left: 26%; }
  @media screen and (max-width: 640px) {
    .offset-by-3 {
      margin-left: 1%; } }

.offset-by-4 {
  margin-left: 34.3333333333%; }
  @media screen and (max-width: 640px) {
    .offset-by-4 {
      margin-left: 1%; } }

.offset-by-5 {
  margin-left: 42.6666666667%; }
  @media screen and (max-width: 640px) {
    .offset-by-5 {
      margin-left: 1%; } }

.offset-by-6 {
  margin-left: 51%; }
  @media screen and (max-width: 640px) {
    .offset-by-6 {
      margin-left: 1%; } }

.offset-by-7 {
  margin-left: 59.3333333333%; }
  @media screen and (max-width: 640px) {
    .offset-by-7 {
      margin-left: 1%; } }

.offset-by-8 {
  margin-left: 67.6666666667%; }
  @media screen and (max-width: 640px) {
    .offset-by-8 {
      margin-left: 1%; } }

.offset-by-9 {
  margin-left: 76%; }
  @media screen and (max-width: 640px) {
    .offset-by-9 {
      margin-left: 1%; } }

.offset-by-10 {
  margin-left: 84.3333333333%; }
  @media screen and (max-width: 640px) {
    .offset-by-10 {
      margin-left: 1%; } }

.offset-by-11 {
  margin-left: 92.6666666667%; }
  @media screen and (max-width: 640px) {
    .offset-by-11 {
      margin-left: 1%; } }

/* Or define your own columns - delete if you plan to use the standard
------------------------------------------------------------------------------------------------------------------------------------------ */
.side-nav {
  width: calc(33.3333333333% - 2%);
  background: #3498db; }
  @media screen and (max-width: 640px) {
    .side-nav {
      width: calc(100% - 2%); } }

.content {
  width: calc(66.6666666667% - 2%);
  background: #3498db; }
  @media screen and (max-width: 640px) {
    .content {
      width: calc(100% - 2%); } }

/* Use .parent to remove padding from parent column when nesting child columns
------------------------------------------------------------------------------------------------------------------------------------------ */
.parent {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 640px) {
    .parent {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .parent > div {
    margin: 0; }
    @media screen and (max-width: 640px) {
      .parent > div {
        width: 100%; } }

/* Everything in layout.scss is for the styling of the demo page only and is not needed
------------------------------------------------------------------------------------------------------------------------------------------ */
/* Typography
------------------------------------------------------------------------------------------------------------------------------------------ */
body {
  text-align: center;
  font: 1em "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #999;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-size: 6em;
  /* 96/16 */
  color: #34495e;
  margin-top: 50px;
  font-family: "moby", Moby, "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: lowercase; }
  @media screen and (max-width: 400px) {
    h1 {
      font-size: 4.5em; } }

h2 {
  font-weight: normal;
  font-size: 1.625em;
  /* 26/16 */ }

a.button {
  font-weight: bold;
  padding: 10px 20px;
  background: #34495e;
  color: white;
  border: 2px solid #34495e;
  display: inline-block;
  border-radius: 7px;
  text-decoration: none;
  margin-top: 30px; }
  a.button:hover {
    background: transparent;
    color: #34495e; }

.version {
  font-size: 10px;
  margin-top: 5px;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold; }

/* Layout
------------------------------------------------------------------------------------------------------------------------------------------ */
header {
  margin-bottom: 50px;
  padding: 10px; }

.container {
  color: white;
  margin: 40px auto;
  background: #f9f9f9;
  border: 1px solid #ececec;
  padding: 0.5%; }
  .container h3 {
    font-size: 1.625em;
    /* 26/16 */
    display: block;
    clear: both; }
  .container p {
    font-size: 0.8125em;
    /* 13/16 */
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 6px;
    margin-top: 4px;
    border-radius: 4px;
    display: inline-block; }

footer {
  padding: 10px;
  clear: both;
  margin-top: 40px;
  opacity: 0.8; }
  footer p {
    font-size: 0.8125em;
    /* 13/16 */ }
  footer a {
    color: #34495e;
    text-decoration: none; }
    footer a:hover {
      text-decoration: underline; }

.col-1 {
  background: #2ecc71; }

.col-2 {
  background: #2ecc71; }

.col-3 {
  background: #2ecc71; }

.col-4 {
  background: #2ecc71; }

.col-5 {
  background: #2ecc71; }

.col-6 {
  background: #2ecc71; }

.col-7 {
  background: #2ecc71; }

.col-8 {
  background: #2ecc71; }

.col-9 {
  background: #2ecc71; }

.col-10 {
  background: #2ecc71; }

.col-11 {
  background: #2ecc71; }

.col-12 {
  background: #2ecc71; }

.offset-by-1 {
  background: #9b59b6; }

.offset-by-2 {
  background: #9b59b6; }

.offset-by-3 {
  background: #9b59b6; }

.offset-by-4 {
  background: #9b59b6; }

.offset-by-5 {
  background: #9b59b6; }

.offset-by-6 {
  background: #9b59b6; }

.offset-by-7 {
  background: #9b59b6; }

.offset-by-8 {
  background: #9b59b6; }

.offset-by-9 {
  background: #9b59b6; }

.offset-by-10 {
  background: #9b59b6; }

.offset-by-11 {
  background: #9b59b6; }

.offset-by-12 {
  background: #9b59b6; }

.parent > div {
  background: #54d98c; }

/* Clearfix
------------------------------------------------------------------------------------------------------------------------------------------ */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
