/* HTML5 Reset
------------------------------------------------------------------------------------------------------------------------------------------ */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Turns off the ugly iOS input shadows */
input,
textarea {
  -webkit-appearance: none; }

/* Turns off Chrome Default Focus Outline */
* {
  outline: none; }

/*   
Project:      Bass - A smart, lightweight responsive grid, built with Sass
Project URI:  http://timpotter.github.io/bass-grid
Version:      1.2.0
Updated:      27th May 2015
Author:       Tim Potter
Author URI:   http://littlethunder.co
*/
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve, .full, .left-column, .right-column {
  float: left;
  margin: 10px 1%;
  padding: 10px; }

/* Container - delete this if you don't need one
------------------------------------------------------------------------------------------------------------------------------------------ */
.container {
  width: 960px;
  margin: 0 auto;
  clear: both; }
  @media screen and (max-width: 960px) {
    .container {
      width: 100%; } }

/* Makes images responsive
------------------------------------------------------------------------------------------------------------------------------------------ */
img {
  max-width: 100%; }

/* Choose a column size
------------------------------------------------------------------------------------------------------------------------------------------ */
.one {
  width: 6.33333%; }
  @media screen and (max-width: 640px) {
    .one {
      width: 98%; } }

.two {
  width: 14.66667%; }
  @media screen and (max-width: 640px) {
    .two {
      width: 98%; } }

.three {
  width: 23%; }
  @media screen and (max-width: 640px) {
    .three {
      width: 98%; } }

.four {
  width: 31.33333%; }
  @media screen and (max-width: 640px) {
    .four {
      width: 98%; } }

.five {
  width: 39.66667%; }
  @media screen and (max-width: 640px) {
    .five {
      width: 98%; } }

.six {
  width: 48%; }
  @media screen and (max-width: 640px) {
    .six {
      width: 98%; } }

.seven {
  width: 56.33333%; }
  @media screen and (max-width: 640px) {
    .seven {
      width: 98%; } }

.eight {
  width: 64.66667%; }
  @media screen and (max-width: 640px) {
    .eight {
      width: 98%; } }

.nine {
  width: 73%; }
  @media screen and (max-width: 640px) {
    .nine {
      width: 98%; } }

.ten {
  width: 81.33333%; }
  @media screen and (max-width: 640px) {
    .ten {
      width: 98%; } }

.eleven {
  width: 89.66667%; }
  @media screen and (max-width: 640px) {
    .eleven {
      width: 98%; } }

.twelve, .full {
  width: 98%; }
  @media screen and (max-width: 640px) {
    .twelve, .full {
      width: 98%; } }

/* Offsets for positioning columns
------------------------------------------------------------------------------------------------------------------------------------------ */
.offset-by-one {
  margin-left: 9.33333%; }
  @media screen and (max-width: 640px) {
    .offset-by-one {
      margin-left: 1%; } }

.offset-by-two {
  margin-left: 17.66667%; }
  @media screen and (max-width: 640px) {
    .offset-by-two {
      margin-left: 1%; } }

.offset-by-three {
  margin-left: 26%; }
  @media screen and (max-width: 640px) {
    .offset-by-three {
      margin-left: 1%; } }

.offset-by-four {
  margin-left: 34.33333%; }
  @media screen and (max-width: 640px) {
    .offset-by-four {
      margin-left: 1%; } }

.offset-by-five {
  margin-left: 42.66667%; }
  @media screen and (max-width: 640px) {
    .offset-by-five {
      margin-left: 1%; } }

.offset-by-six {
  margin-left: 51%; }
  @media screen and (max-width: 640px) {
    .offset-by-six {
      margin-left: 1%; } }

.offset-by-seven {
  margin-left: 59.33333%; }
  @media screen and (max-width: 640px) {
    .offset-by-seven {
      margin-left: 1%; } }

.offset-by-eight {
  margin-left: 67.66667%; }
  @media screen and (max-width: 640px) {
    .offset-by-eight {
      margin-left: 1%; } }

.offset-by-nine {
  margin-left: 76%; }
  @media screen and (max-width: 640px) {
    .offset-by-nine {
      margin-left: 1%; } }

.offset-by-ten {
  margin-left: 84.33333%; }
  @media screen and (max-width: 640px) {
    .offset-by-ten {
      margin-left: 1%; } }

.offset-by-eleven {
  margin-left: 92.66667%; }
  @media screen and (max-width: 640px) {
    .offset-by-eleven {
      margin-left: 1%; } }

/* Or make your own - Delete the default columns to save bloating your CSS if you chose to make your own
------------------------------------------------------------------------------------------------------------------------------------------ */
.left-column {
  width: 31.33333%;
  background: #3498db; }
  @media screen and (max-width: 640px) {
    .left-column {
      width: 98%; } }

.right-column {
  width: 64.66667%;
  background: #3498db; }
  @media screen and (max-width: 640px) {
    .right-column {
      width: 98%; } }
