/* HTML5 Reset
------------------------------------------------------------------------------------------------------------------------------------------ */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Turns off the ugly iOS input shadows */
input,
textarea {
  -webkit-appearance: none; }

/* Turns off Chrome Default Focus Outline */
* {
  outline: none; }

/*   
Project:      Bass - A smart, lightweight responsive grid, built with Sass
Project URI:  http://timpotter.github.io/bass-grid
Version:      1.1.1
Updated:      20th November 2014
Author:       Tim Potter
Author URI:   http://littlethunder.co
*/
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve, .full, .left-column, .right-column {
  background: #2ecc71;
  height: 100px;
  float: left;
  margin: 10px 1%;
  padding: 10px; }

/* Container - delete this if you don't need one
------------------------------------------------------------------------------------------------------------------------------------------ */
.container {
  width: 960px;
  margin: 0 auto;
  clear: both; }
  @media screen and (max-width: 960px) {
    .container {
      width: 100%; } }

/* Makes images responsive
------------------------------------------------------------------------------------------------------------------------------------------ */
img {
  max-width: 100%; }

/* Choose a column size
------------------------------------------------------------------------------------------------------------------------------------------ */
.one {
  width: 6.33333%; }
  @media screen and (max-width: 640px) {
    .one {
      width: 98%; } }

.two {
  width: 14.66667%; }
  @media screen and (max-width: 640px) {
    .two {
      width: 98%; } }

.three {
  width: 23%; }
  @media screen and (max-width: 640px) {
    .three {
      width: 98%; } }

.four {
  width: 31.33333%; }
  @media screen and (max-width: 640px) {
    .four {
      width: 98%; } }

.five {
  width: 39.66667%; }
  @media screen and (max-width: 640px) {
    .five {
      width: 98%; } }

.six {
  width: 48%; }
  @media screen and (max-width: 640px) {
    .six {
      width: 98%; } }

.seven {
  width: 56.33333%; }
  @media screen and (max-width: 640px) {
    .seven {
      width: 98%; } }

.eight {
  width: 64.66667%; }
  @media screen and (max-width: 640px) {
    .eight {
      width: 98%; } }

.nine {
  width: 73%; }
  @media screen and (max-width: 640px) {
    .nine {
      width: 98%; } }

.ten {
  width: 81.33333%; }
  @media screen and (max-width: 640px) {
    .ten {
      width: 98%; } }

.eleven {
  width: 89.66667%; }
  @media screen and (max-width: 640px) {
    .eleven {
      width: 98%; } }

.twelve, .full {
  width: 98%; }
  @media screen and (max-width: 640px) {
    .twelve, .full {
      width: 98%; } }

/* Or make your own - Delete the default columns to save bloating your CSS if you chose to make your own
------------------------------------------------------------------------------------------------------------------------------------------ */
.left-column {
  width: 31.33333%;
  background: #3498db; }
  @media screen and (max-width: 640px) {
    .left-column {
      width: 98%; } }

.right-column {
  width: 64.66667%;
  background: #3498db; }
  @media screen and (max-width: 640px) {
    .right-column {
      width: 98%; } }

/* Everything in layout.scss is for the styling of the demo page only and is not needed
------------------------------------------------------------------------------------------------------------------------------------------ */
/* Typography
------------------------------------------------------------------------------------------------------------------------------------------ */
body {
  text-align: center;
  font: 1em "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #999;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-size: 6em;
  /* 96/16 */
  color: #34495e;
  margin-top: 50px;
  font-family: "moby", Moby, "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: lowercase; }
  @media screen and (max-width: 400px) {
    h1 {
      font-size: 4.5em; } }

h2 {
  font-weight: normal;
  font-size: 1.625em;
  /* 26/16 */ }

a.button {
  font-weight: bold;
  padding: 10px 20px;
  background: #34495e;
  color: white;
  border: 2px solid #34495e;
  display: inline-block;
  border-radius: 7px;
  text-decoration: none;
  margin-top: 30px; }
  a.button:hover {
    background: transparent;
    color: #34495e; }

.version {
  font-size: 10px;
  margin-top: 5px;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold; }

/* Layout
------------------------------------------------------------------------------------------------------------------------------------------ */
header {
  margin-bottom: 50px;
  padding: 10px; }

.container {
  color: white;
  margin-top: 40px; }
  .container h3 {
    font-size: 1.625em;
    /* 26/16 */
    display: block;
    clear: both;
    margin-top: 6px; }
  .container p {
    font-size: 0.8125em;
    /* 13/16 */
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 6px;
    margin-top: 4px;
    border-radius: 4px;
    display: inline-block; }

footer {
  padding: 10px;
  clear: both;
  margin-top: 40px;
  opacity: 0.8; }
  footer p {
    font-size: 0.8125em;
    /* 13/16 */ }
  footer a {
    color: #34495e;
    text-decoration: none; }
    footer a:hover {
      text-decoration: underline; }

/* Clearfix
------------------------------------------------------------------------------------------------------------------------------------------ */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
